// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import 'members';
// @import 'dashboard';

// @import '~@coreui/coreui/dist/css/coreui';

nav {
    position: fixed;
    top: 0px;
    height: 10vh;
}

main {
    position: fixed;
    top: 10vh;
    height: 89vh;
    overflow: hidden;
}
